.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  min-height: 80vh;
}
li {
  list-style: none;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border: 1px solid rgba(183, 183, 183, 0.269);
  padding: 1rem;
  position: relative;
  box-shadow: 0px 0px 6px rgb(158, 157, 157);
  border-radius: 6px;
  background-color: #eeeeee;
  transition: 350ms;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgb(140, 139, 139);
  transform: scale(1.03);
}

.card img {
  height: 12rem;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.price-rating {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
}
.add-to-cart {
  padding: 8px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: rgb(49, 49, 49);
  color: white;
  cursor: pointer;
}
.add-to-cart:hover {
  background-color: rgb(0, 0, 0);
}
.add-to-cart:active {
  background-color: rgba(0, 0, 0);
}
.wishlist {
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
}

.wishlist .rating {
  display: flex;
  align-items: center;
}
.product-name {
  flex-grow: 1;
}
