.form-container {
    display: flex;
    justify-content: center;
  }
  .address-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgb(193, 186, 186);
    padding: 2rem 4rem;
    justify-content: space-evenly;
  }
  
  .address-form input {
    padding: 0.5rem;
    border-radius: 6px;
  }
  .address-form button {
    background-color: rgb(86, 55, 181);
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 6px;
  }
  .address-form button:hover {
    background-color: rgba(87, 55, 181, 0.803);
  }
  .address-form button:active {
    background-color: rgb(87, 55, 181);
  }
  .address-list-container {
    display: flex;
    justify-content: center;
  }
  
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 3rem;
    border: 1px solid rgb(209, 206, 206);
  }
  .buttons-edit {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
  }
  .address-form-buttons {
    padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid rgba(109, 107, 107, 0.767);
    background-color: aliceblue;
  }
  