.hero-carousel {
  margin-top: 80px;
  background-color: #fff;
  position: relative;
}

.carousel-item {
  position: relative;
  height: 70vh;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: center;
  color: white;
}

.second-carousel-caption {
  position: absolute;
  top: 86.5%;
  left: 44.8%;
}
.second-carousel-caption button {
  border: none;
  padding: 19px 60px;
  background-color: transparent;
  cursor: pointer;
  color: transparent;
}

.carousel-caption h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.carousel-caption p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.carousel-caption button {
  padding: 0.75rem 2rem;
  background-color: rgb(32, 32, 32);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.carousel-caption button:hover {
  background-color: rgb(0, 0, 0);
}

/* Add responsive styling */
@media (max-width: 800px) {
  .carousel-caption h1 {
    font-size: 3rem;
  }

  .carousel-caption p {
    font-size: 1.2rem;
  }

  .carousel-caption button {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
  .carousel-item {
    height: 50vh;
  }
}

.category-container {
  max-width: 70%;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
  gap: 2rem;
}

.pets-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pets-image {
  height: 13.5rem;
  border-radius: 18rem;
  transition: 350ms;
  mix-blend-mode: multiply;
}

.pets-category .pets-image:hover {
  cursor: pointer;
  transform: scale(1.2);
}
