.product-detail-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}
.single-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgba(211, 211, 211, 0.582);
  padding: 2rem;
  box-shadow: 3px 2px 12px rgb(43, 43, 43);
  border-radius: 6px;
  min-height: 25rem;
  margin-top: 1rem;
  background-color: #e3e1e1;
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.single-card img {
  min-height: 17rem;
  min-width: 15rem;
  object-fit: cover;
  margin-right: 1rem;
  mix-blend-mode: multiply;
}
.icon-para {
  display: flex;
  align-items: center;
}
.rating {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-card-button {
  padding: 9px;
  background-color: rgb(32, 32, 32);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: 600;
}
.product-card-button:hover {
  background-color: rgb(12, 12, 12);
}

.product-card-button:active {
  background-color: rgb(47, 47, 47);
}
.features-tag {
  text-align: left;
}
